<div class="container">
  <h1>Tokenize Exchange Demo:</h1>
  <h3>ETH/BTC</h3>
  <div class="row">
    <div class="col-md-6">
      <table class="table bid">
        <thead>
          <th>Size</th>
          <th>Bid</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of bids">
            <td>{{ item[1] }}</td>
            <td>{{ item[0] }}</td>
          </tr>
        </tbody>
        <tfoot>
          <th>Total of amount</th>
          <th>{{ totalOfAmount }}</th>
        </tfoot>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table ask">
        <thead>
          <th>Ask</th>
          <th>Size</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of asks">
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
          </tr>
        </tbody>
        <tfoot>
          <th>Total of size</th>
          <th>{{ totalOfSize }}</th>
        </tfoot>
      </table>
    </div>
  </div>
</div>

